.header {
  background-color: #161503;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-around;
}

.header .logo {
  display: flex;
  justify-content: center;
  margin: auto;
  /* width: 100%; */
}

.header .logo img {
  width: 60px;
}

.header .menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 50px;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 3px;
}
.header .menu span{
  transition: .2s;
}
.header .menu input[type="checkbox"]{
    display:none;
}

 .header .menu input[type="checkbox"]:checked ~ span:nth-of-type(1){
  transform-origin:bottom;
  transform:rotate(45deg) translate(4px,0px);
} 
.header .menu input[type="checkbox"]:checked ~ span:nth-of-type(2){
  display: none;
} 
.header .menu input[type="checkbox"]:checked ~ span:nth-of-type(3){
  transform-origin:bottom;
  transform:rotate(315deg) translate(8px,0px);
}


.header .menu .item {
  background: wheat;
  width: 30px;
  height: 5px;
  margin-top: 4px;
  border-radius: 50px;
}

.search {
  border: none;
}

.search_form {
  position: relative;
  margin-left: 85px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
}
.search_input input{
  padding-left: 15px;
  padding-right: 40px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 24px;
  width: 250px;
  border: none;
  outline: none;
  border: 2px solid transparent;
  transition: .2s;
}
.search_input input:focus{
  border: 2px solid wheat;
}

.search_button {
  background-color: wheat;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
  padding: 5px 5px -0.1%;
  position: absolute; /*наследуется от .search_form выше*/
  top: 0px;
  right: 0px;
  height: 100%;
  /* width: 5px; */
  /* height: 5px; */
}
.search_button .search_svg {
  /* color: red; */
  height: 13px; /*картинка в строке поиска*/
  width: 14px;  /*не троготь*/
  outline: none;
}

.log_reg {
  margin-right: 10px;
}

.log_reg .btn{
  text-decoration: none;
  color: #fff;
  margin-right: 20px;           /*вот эта херь*/
  padding: 5px 15px 5px 15px;   /*вообще хз как работает*/
  border: 2px solid wheat;
  border-radius: 13px;
  transition: .2s;
}
.log_reg .btn:hover{
  color: wheat;
}
